/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* CSS Variables */



:root {
  --primary-font: "Lato", sans-serif;
  --secondary-font: "Atma", system-ui;
}

body {
  background-color: aliceblue;
  margin: 0;
  font-family: var(--primary-font);
}

h1 {
  font-family: var(--secondary-font);
}

main {
    padding-bottom: 80px;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border: 2px dashed darkorchid;
}

section {
  border: 2px dashed darkblue;
}

#start-btn, #replay-btn {
  font-family: var(--secondary-font);
}

/* highlight the correct answer */
.answer-btn.correct,
.answer-btn.correct:disabled {
    background-color: #4CAF50;
    color: white;
}
/* highlight the wrong answer */
.answer-btn.wrong,
.answer-btn.wrong:disabled {
    background-color: #e53935;
    color: white;
}

.answer-btn:disabled {
    cursor: not-allowed;
    opacity: 1;
}

